@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 0;
    align-items: center;
}

.hero, .header, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8 ;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 20px;
}