@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}

body > * {
    padding: 0px 180px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 120px;
}

.hero, .header, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8 ;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7ebc4;
    margin-left: 20px;
}

.hero {
    display: flex;
    gap: 40px;
    padding-bottom: 120px;
}

.hero-image {
    width: auto;
    height: 240px;
    align-self: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7ebc4;
    margin: 0;
    margin-bottom: 16px;
}

.btn-sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 10px 36px;
    text-decoration: none;
    border-radius: 8px;
    align-self: center;
    flex-shrink: 0;
}

.card-section {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 120px;
}

.card-collection {
    display: flex;
    font-size: 18px;
    color: #6C747D;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin: 0 0 40px ;
}

.card-collection img {
    width: 180px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 14px;
    display: block;
    margin-bottom: 12px;
}

.quote-section {
    background-color: #E5E7EB ;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 820px;
    min-width: 260px;
    padding: 80px 0 60px;
}

.quote-section p {
    font-size: 36px ;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 40px;
    color: #1F2937;
}

.quote-source  {
    text-align: right;
    font-size: 24px ;
    font-weight: 700;
    color: #1F2937;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
}

.call-to-action-container {
    margin: 100px auto ;
    display: flex;
    background-color: #3882F6 ;
    justify-content:  space-evenly;
    flex-wrap: wrap;
    width: 1100px;
    min-width: 260px;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 30px;
    
}

.call-to-action-text {
    margin: 0px 30px 30px 30px;
}

.call-to-action-text p {
    color: #E5E7EB;
}

.call-to-action-text h1 {
    margin-top: 0px;
}

.call-to-action-container button.btn-sign-up{
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
}

.footer-section {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
}



