@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}

body > * {
    padding: 0px 180px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 120px;
}

.hero, .header, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8 ;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7ebc4;
    margin-left: 20px;
}

.hero {
    display: flex;
    gap: 40px;
    padding-bottom: 120px;
}

.hero-image {
    width: auto;
    height: 240px;
    align-self: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7ebc4;
    margin: 0;
    margin-bottom: 16px;
}

.btn-call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 10px 36px;
    text-decoration: none;
    border-radius: 8px;
}

.card-section {
    text-align: center;
}

.card-collection {
    display: flex;
}

